@model IEnumerable<DMS.Models.System_roles>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h3>Datatable</h3>
            <a href="@Url.Action("Create","SystemRole")" class="btn btn-secondary"><i class="fa fa-plus"></i>&nbsp; Create</a>
        </div>
        <hr />
        <table id="table" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Code
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th width="10%">Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.description)
                        </td>
                        <td style="text-align: center;">
                            <a href="@Url.Action("Edit", "SystemRole", new {id = item.id})" class="btn btn-primary">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a id="delete" href="javascript:void(0);" data-id="@item.id" class="btn btn-danger btn-primary">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>